<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hapramp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.hapramp.permission.C2D_MESSAGE" />

    <application
        android:name=".main.HapRampMain"
        android:allowBackup="true"
        android:icon="@mipmap/hapramp_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/hapramp_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DetailedActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.CreatePostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CreateArticleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.NotificationsActivity"
            android:parentActivityName=".ui.activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.InfoEditingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.HowToEarnActivity"
            android:screenOrientation="portrait" />

        <service android:name=".services.HaprampFirebaseInstanceId">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.HapramapPushService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activity.ProfileEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.Splash"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.QrScanningActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CommunitySelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UserSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".youtube.YoutubeVideoSelectorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.OnBoardingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WebloginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.WalletActivity"></activity>
    </application>

</manifest>