<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hapramp">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.hapramp.permission.C2D_MESSAGE" />

    <application
        android:name=".main.HapRampMain"
        android:allowBackup="true"
        android:icon="@mipmap/hapramp_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/hapramp_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.hapramp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".analytics.HaprampInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".analytics.HaprampFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ProfileActivity"
            android:parentActivityName=".ui.activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DetailedActivity"
            android:parentActivityName=".ui.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.CreatePostActivity"
            android:parentActivityName=".ui.activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CreateArticleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.ProfileEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.Splash"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.CommunitySelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UserSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.OnBoardingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WebloginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AccountHistoryActivity"
            android:parentActivityName=".ui.activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.FollowListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NestedCommentActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.ReceiveImageActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.PowerUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PowerDownActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TransferActivity"
            android:parentActivityName=".ui.activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.VotersListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DelegateActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.NotificationActivity" />
        <activity
            android:name=".ui.activity.CompetitionCreatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CompetitionDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ParticipateEditorActivity"
            android:parentActivityName=".ui.activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WinnerDeclarationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.JudgeSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WinnersFeedListActivity"
            android:parentActivityName=".ui.activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DelegationListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.RebloggedListActivity" />
        <activity
            android:name=".ui.activity.MicroCommunityActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.LeaderboardActivity"></activity>
    </application>

</manifest>