<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hapramp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".HapRampMain"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SkillRegistrationActivity" />
        <activity android:name=".OrganisationActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".StoryActivity" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".LeaderboardActivity" />
        <activity android:name=".DatabaseTestActivity" />
        <activity android:name=".activity.RegistrationPage2" />
        <activity android:name=".activity.DetailedPostActivity" />
        <activity android:name=".activity.NewPostCreationActivity" />
        <activity android:name=".activity.CreateArticleActivity" />
        <activity android:name=".activity.ForgetPasswordActivity" />
        <activity android:name=".activity.NotificationsActivity" />
        <activity android:name=".activity.CommentEditorActivity" />
        <activity android:name=".activity.CompetitionsDetailedActivity"></activity>
    </application>

</manifest>