<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hapramp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.hapramp.permission.C2D_MESSAGE" />

    <application
        android:name=".main.HapRampMain"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".activity.SkillRegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrganisationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".activity.TestActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity
            android:name=".activity.RegistrationPage2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetailedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewPostCreationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".activity.CreateArticleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NotificationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CommentEditorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CompetitionsDetailedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.InfoEditingActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.HowToEarnActivity" android:screenOrientation="portrait"/>

        <service android:name=".services.PostJobDispatcherService" />

        <service
            android:name=".services.HaprampFirebaseInstanceId">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".services.HapramapPushService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity android:name=".activity.ProfileEditActivity" android:screenOrientation="portrait"/>

    </application>

</manifest>